<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Nex Project</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="main">
      <h1>Base NexForge Template</h1>

      <div class="blogs">
        <div class="blog_item">
          <h3>About CLI</h3>
          <p>Learn more about NexCLI commands</p>
          <a href="#">Learn More</a>
        </div>
        <div class="blog_item">
          <h3>NexForge</h3>
          <p>Discover every possible template with NexForge</p>
          <a href="#">Discover</a>
        </div>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
